* {
  font-family: "Outfit", sans-serif;
  margin: 0 auto;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  padding: 40px 10px;
  width: 1440px;
  height: 100%;
}
/* START SECTION */
.section {
  background-color: hsl(217, 54%, 11%);
  height: 100%;
  display: flex; /* Canh giữa bằng flex */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(216, 50%, 16%);
  padding: 20px;
  width: 25%;
  border-radius: 20px;
  
}
.section .container .card {
  background-color: hsl(216, 50%, 16%);
  font-size: 18px;
  color: hsl(0, 0%, 100%);
}
.section .container .card .content p {
  color: hsl(215, 51%, 70%);
}

/* START SECTION */
/* START SECTION */
.container .content {
  border-bottom: 1px solid hsl(215, 32%, 27%);
  padding-top: 10px;
  padding-bottom: 10px;
}
.container .content p,
h3 {
  padding: 10px 0;
}
.container .content .info {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.container .content .info span,
svg {
  margin: 0 10px 0 0;
}
.container .content .info span {
  color: hsl(178, 100%, 50%);
  margin-right: 110px;
}
.container .info svg {
  margin-left: 0;
}
.container .info p {
  margin: 0;
}
.container .content h3:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}
.picture{
  position: relative;
}
.container .picture img {
  height: 300px;
  width: 100%;
  border-radius: 10px;
  display: block
}
.container .card {
  position: relative;
}
.picture:hover .icon-view {
  cursor: pointer;
  opacity: 1;
}
.card .icon-view {
  height: 300px;
  width: 100%;
  background-color: hsl(178, 100%, 50%);
  border-radius: 10px;
  top: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  opacity: 0;
  transition: .5s ease;
}
.icon-view .view{
  top: 42%;
  left: 43%;
  position: absolute;
  text-align: center;
}

.container .author {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: left;
  text-align: left;
  padding-top: 10px;
}

.container .author img {
  width: 30px;
  margin: 0;
}
.container .author p {
  color: hsl(215, 51%, 70%);
  margin-left: 10px;
  line-height: 27px;
}
.container .author p a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
.container .author p a:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}
/* SECTION */

/* REPONSIVE */
@media only screen and (max-width: 992px) {
  html,
  body{ 
    text-align: center;
    height: 100%;
    width:auto!important;
    background-color: hsl(217, 54%, 11%);
  }
  .section{
    width: 100%;
    text-align: left;
  }
  .section .container{
    margin: 0;
    width: 50%;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 768px) {
  html,
  body{ 
    text-align: center;
    height: 100%;
    width:auto!important;
    background-color: hsl(217, 54%, 11%);
  }
  .section{
    width: 100%;
    text-align: left;
  }
  .section .container{
    width: 50%;
  }
}
 /* iphone 6, 6s, 7, 8 */
 @media only screen and (max-width: 576px) {
    html,
    body{
      text-align: center;
      height: 100%;
      width: auto !important;
      background-color: hsl(217, 54%, 11%);
    }
    .section .container{
      width: 100%;
      align-items: center;
    }
}

        
